<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Sign In or Sign Up</title>

    <link rel="stylesheet" href="/views/signButtonsTemplate/css/style.css">

</head>

<body>
<style>
    body {
        background-image: url('views/signButtonsTemplate/images/bg-01.jpg');
    }
</style>
<div class="container" style="position: absolute; top: 34%; left:34%;">

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/index.php?controller=login" class="btn btn-sm animated-button victoria-two">Login</a> </div>
        <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/index.php?controller=signup" class="btn btn-sm animated-button victoria-one">Sign up</a> </div>
    </div>
</div>
</body>
</html>
